<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
	<head>
        <title>Redis监控中心</title>
		<meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Redis监控中心">
		<meta name="author" content="LuXiaok">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{static_url('bootstrap/css/bootstrap.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
        <link href="{{static_url('plugins/font-awesome/4.2.0/css/font-awesome.min.css')}}" rel="stylesheet">
		<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		     <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		-->
		<link href="{{static_url('plugins/fancybox/jquery.fancybox.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/fullcalendar/fullcalendar.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/xcharts/xcharts.min.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/select2/select2.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/justified-gallery/justifiedGallery.css')}}" rel="stylesheet">
		<link href="{{static_url('css/style_v2.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/chartist/chartist.min.css')}}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="{{static_url('plugins/html5/html5shiv.min.js')}}"></script>
		<![endif]-->
	</head>
<body>
<!--Start Header-->
{% include "header.html" %}
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
        {% include "sidebar_menu.html" %}
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<div class="preloader">
				<img src="static/images/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
			</div>
			<div id="ajax-content" class="ajax-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{static_url('plugins/jquery/jquery.min.js')}}"></script>
<script src="{{static_url('plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{static_url('plugins/justified-gallery/jquery.justifiedGallery.min.js')}}"></script>
<script src="{{static_url('plugins/tinymce/tinymce.min.js')}}"></script>
<script src="{{static_url('plugins/tinymce/jquery.tinymce.min.js')}}"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{{static_url('js/devoops.js')}}"></script>
<!-- <script src="{{static_url('js/html5.js')}}"></script> -->
</body>
</html>